@model EmployeesMvc.Models.Employee
@{
    ViewBag.Title = "Details";
}

@section Header{
    Och här gör jag en override på nav-headern 
}
<partial name="_EmployeePartial"></partial>

<a asp-controller="employees" asp-action="index">
    <button>Tillbaks</button>
</a>

<a asp-controller="employees" asp-action="editemployee" asp-route-id="@Model.Id">
    <button>Ändra</button>
</a>

@section Footer{
    <p>Gör lite av en section-override på footern här kommer det att fungera hm</p>
}