@model Employee


    <h2>@Model.Name</h2>
    <br />
    <h2>@Model.Email</h2>
    <h2>@Model.Description</h2>

    <a asp-controller="employees" asp-action="index">
        <button>Tillbaks</button>
    </a>
