@model Employee

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>
<br />
<h4>@Model.Email</h4>
<p>@Model.Description</p>
<a asp-controller="employees" asp-action="index">
    <button>Tillbaks</button>
</a>