@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeesMvc.Models.Employee[]

<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
<html>
    <head>
        <title>ACME INTRO</title>
    </head>
    <h1>Anställda:</h1>
    @foreach (var employee in Model)
    {
    <li>@employee.Name - @employee.Email</li>
    }

    <body>
        <a asp-controller="employees" asp-action="create">Lägg till anställd</a>
    
    </body>
    </html>